/* Importing Google Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);

/* Color Declarations */
$white: #FFF;
$gray: #7F8C8D;
$primary: #444;

/* Declaring Variables */
$content-background: #F2F4F6;
$sidebar-background: $white;
$transparent: transparent;

/* Font Properties */
$font: Roboto;
$thin: 100;
$light: 300;
$normal: 400;
$bold: 500;

/* Mixins */
@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition ($seconds) {
    -webkit-transition: all $seconds;
    -moz-transition: all $seconds;
    -ms-transition: all $seconds;
    transition: all $seconds;
}

.font-property {
    font-family: $font;
    font-weight: $light;
}

/* General CSS Properties */
body {
    background: $content-background;
    background-attachment: fixed;
    background-size: cover;
    font-family: $font;
    font-weight: $light;
    height: 100vh;
}
a:focus,
a:hover {
    text-decoration: none;
}

/* Div Tags CSS */
.sidebar {
    background: $sidebar-background;
    height: 100vh;
    padding-top: 20px;
    border-right: 1px solid #EEE;
    width: 80px;
}
.content {
    height: 100%;
    overflow: hidden;
    background: $content-background;
}
.result-tab {
    background: $content-background;
    padding: 10px 30px;
}
.card {
    background: $white;
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
}

/* Image Tags CSS */
.nyt-logo {
    width: 80px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
}

/* Button Tags CSS */
.options,
.options:focus {
    height: 45px;
    width: 45px !important;
    @include border-radius(100%);
    background: rgba(0,0,0,0.1);
    margin: 6px 2px;
    border: 1px solid $transparent;
    @include transition(0.5s);
    cursor: pointer;
    span {
        color: #666;
        padding-top: 8px;
        @include transition(0.5s);
        font-size: 15px;
    }
}
.select,
.options:hover {
    border-color: #444;
    background: #444;
    span {
        color: $white;
    }
}

/* Text Properties CSS */
#card-title {
    font-weight: $bold;
    font-size: 16px;
    padding: 10px 0px 0px 15px;
}
#post-by {
    color: $gray;
    padding: 0px 15px;
}
#viewing {
    color: $gray;
    text-transform: uppercase;
    font-weight: $normal;
    font-size: 13px;
    padding: 15px 5px 10px 5px;
    #viewing-type {
        color: #444;
    }
}

/* Form CSS */
.form-control,
.form-control:focus {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 25px 25px;
  outline: none;
  box-shadow: none;
}
::-webkit-input-placeholder {
  color: #7F8C8D; 
}
form {
  .material-icons {
    font-size: 18px;
    color: #7F8C8D;
    position: absolute;
    top: 25px;
  } 
}

/* Span and Extra CSS */
.line {
  margin-top: 6px;
  border-color: #DDD; 
}