doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")

        // Favicon and Title
        title#page-title Silicon - Top and Trending News Stories Only
        link(rel='shortcut icon', href='img/silicon.png')

        // META TAGS
        meta(property='og:title', content='Silicon')
        meta(property='og:description', content='Silicon uses New York Times API that shows the most popular and top stories, as well as showing the top stories of everyday in each category including technology, business, politics, world, sports, and travel. Silicon also allows you to search for specific articles provided by NewYorkTimes Articles Search API.')
        meta(property='og:site_name', content='NarulaKeshav')
        meta(property='og:url', content='http://narulakeshav.com/app/silicon')
        meta(property='og:image', content='http://i.imgur.com/RIDSnUY.png')

        // TWITTER CARD META TAGS
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@NarulaKeshav")
        meta(name="twitter:creator", content="@NarulaKeshav")
        meta(name="twitter:title", content="Silicon")
        meta(name="twitter:description", content="Silicon uses New York Times API that shows the most popular and top stories, as well as showing the top stories of everyday in each category including technology, business, politics, world, sports, and travel. Silicon also allows you to search for specific articles provided by NewYorkTimes Articles Search API.")
        meta(name="twitter:image" content="http://i.imgur.com/RIDSnUY.png")

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        // MY CSS FILE
        link(rel='stylesheet', href='scss/design.css', media="all")
    body
        // NAVBAR THAT ONLY SHOWS UP IN MOBILE
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img.img-logo(src="img/silicon-light.png" alt="logo")
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.active#li-popular Most Popular
                        li
                            a#li-top Top Stories
                        li
                            a#li-tech Technology
                        li
                            a#li-business Business
                        li
                            a#li-politics Politics
                        li
                            a#li-world World
                        li
                            a#li-sports Sports
                        li
                            a#li-travel Travel

        // MAIN CONTENT
        div.col-md-12.intro.wow.zoomOut(data-wow-delay="2.7s", align="center")
            img.img-responsive.intro-img.wow.flipInY(src="img/silicon.png", data-wow-delay="0.3s")
            p.intro-text.wow.fadeInUp(data-wow-delay="0.4s") Silicon
            p.intro-loading.wow.fadeInUp(data-wow-delay="0.6s")
                span.fa.fa-spinner.fa-spin
                | &nbsp;&nbsp;
                span#load-message
        div.col-md-12.wow.fadeIn(data-wow-delay="2s")
            div.row
                div.col-md-1
                div.col-md-11.content
                    div.col-md-12.result-tab
                        form
                            span.material-icons search
                            input.form-control(id="input", placeholder="Search for articles, headlines, etc.")
                    div.col-md-12
                        p#viewing Viewing: 
                            span#view-type Most Popular
                            | &nbsp;&nbsp;|&nbsp;&nbsp; 
                            span#result-num 20 Results
                    div.col-md-12#feed

        // FIXED SIDEBAR 
        div.col-md-1.sidebar.wow.fadeIn(data-wow-delay="3s")
            a(href="http://www.nytimes.com/" target="_blank")
                img.img-responsive.nyt-logo.img-circle(src="img/img-nyt.png")
            hr
            a.btn.options.top-select#hot(data-toggle="tooltip", data-placement="right", title="Popular")
                span.material-icons whatshot
            a.btn.options#top(data-toggle="tooltip", data-placement="right", title="TopStories")
                span.material-icons timeline
            hr
            a.btn.options#tech(data-toggle="tooltip", data-placement="right", title="Techonology")
                span.material-icons cast
            a.btn.options#business(data-toggle="tooltip", data-placement="right", title="Business")
                span.material-icons business
            a.btn.options#politics(data-toggle="tooltip", data-placement="right", title="Politics")
                span.material-icons account_balance
            a.btn.options#world(data-toggle="tooltip", data-placement="right", title="World")
                span.material-icons public
            a.btn.options#sports(data-toggle="tooltip", data-placement="right", title="Sports")
                span.material-icons directions_bike
            a.btn.options#travel(data-toggle="tooltip", data-placement="right", title="Travel")
                span.material-icons flight

        // MODAL POPUP BUTTON
        button.btn.btn-kn.wow.bounceInRight(data-toggle="modal" data-target="#myModal", data-wow-delay="3.1s")
            span.fa.fa-clone

        // MODAL WINDOW
        div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span.modal-close ×
                        h4#myModalLabel.modal-title
                            span.fa.fa-clone
                            |   About Silicon
                    .modal-body
                        p.modal-text Silicon uses 
                            a(href="http://www.nytimes.com/" target="_blank") The New York Times 
                            | APIs to shows you the Most Popular and Top News Stories, as well as Top stories from Techonology, Business, Politics, World, Sports, and Travel. 
                        p.modal-text I am not the owner of the content. The rights are reserved to 
                            a(href="http://www.nytimes.com/" target="_blank") The New York Times 
                            | For more info, view the 
                            a(href="https://github.com/NarulaKeshav/silicon" target="_blank") GitHub Repository.
                    .modal-footer
                        a.btn.btn-social.twitter(href='https://goo.gl/PaAZYh', target='_blank')
                          span.fa.fa-twitter
                          |   Share
                        a.btn.btn-social.github(href='https://github.com/NarulaKeshav', target='_blank')
                          span.fa.fa-github
                          |   View Repo
                        a.btn.btn-social.linkedin(href='https://linkedin.com/in/NarulaKeshav', target='_blank')
                          span.fa.fa-linkedin
                          |   LinkedIn

        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='js/feed.js')