doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")

        // Favicon and Title
        title#page-title Silicon - Top NYT Stories
        link(rel='shortcut icon', href='nyt.png')

        // META TAGS
        meta(property='og:title', content='Quill')
        meta(property='og:description', content='Be creative, be innovative.')
        meta(property='og:site_name', content='NarulaKeshav')
        meta(property='og:url', content='http://narulakeshav.com/app/quill')
        meta(property='og:image', content='#')

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css')

        // MY CSS FILE
        link(rel='stylesheet', href='scss/design.css')
    body
        div.col-md-12
            div.row
                div.col-md-1.sidebar
                    img.img-responsive.nyt-logo.img-circle(src="nyt.png")
                    hr
                    a.btn.options#hot.select
                        span.material-icons whatshot
                    a.btn.options#top
                        span.material-icons timeline
                    hr
                    a.btn.options#tech
                        span.material-icons cast
                    a.btn.options#business
                        span.material-icons business
                    a.btn.options#politics
                        span.material-icons account_balance
                    a.btn.options#world
                        span.material-icons public
                    a.btn.options#sports
                        span.material-icons directions_bike
                div.col-md-11.content
                    div.col-md-12.result-tab
                        form
                            span.material-icons search
                            input.form-control(id="input", placeholder="Search for articles, headlines, etc.")
                        hr.line
                        p#viewing Viewing: 
                            span#view-type Most Popular
                            | &nbsp;&nbsp;|&nbsp;&nbsp; 
                            span#result-num 20 Results
                    div.col-md-12#feed
                        
        button.btn.btn-kn
            span.fa.fa-clone
                            

        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='js/feed.js')